{% extends 'base.html' %}
{% set active_page = "index" %}

{% block content %}
<table class="divide-y divide-gray-200">
    <thead>
        <tr>
            <th class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">ID</th>
            <th class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">Number</th>
            <th class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">Datetime</th>
            <th class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">Is exit</th>
            <th class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">Gender</th>
            <th class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">Action</th>
        </tr>
    </thead>
    <tbody class="bg-white divide-y divide-gray-200">
    {% for entry in entries %}
        <tr>
            <td class="px-6 py-4 whitespace-nowrap">{{ entry.id }}</td>
            <td class="px-6 py-4 whitespace-nowrap">{{ entry.number }}</td>
            <td class="px-6 py-4 whitespace-nowrap">{{ entry.datetime }}</td>
            <td class="px-6 py-4 whitespace-nowrap">{{ entry.isExit }}</td>
            <td class="px-6 py-4 whitespace-nowrap">{{ entry.gender }}</td>
            <td class="px-6 py-4 whitespace-nowrap">
                <a href="{{ url_for('edit', id=entry.id) }}" class="px-4 py-2 font-medium text-white bg-blue-600 rounded-md hover:bg-blue-500 focus:outline-none focus:shadow-outline-blue active:bg-blue-600 transition duration-150 ease-in-out">Edit</a>
                <a href="{{ url_for('delete', id=entry.id) }}" class="ml-2 px-4 py-2 font-medium text-white bg-red-600 rounded-md hover:bg-red-500 focus:outline-none focus:shadow-outline-red active:bg-red-600 transition duration-150 ease-in-out">Delete</a>
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>
{% endblock %}